{% extends "shoppinglist/templates/base.html" %}
{% load url from future %}

{% block content %}

<script type="text/javascript">
// https://stackoverflow.com/a/9186427

function changeAmount(field, delta) {
    var value = parseInt(document.getElementById(field).value, 10);
    value = isNaN(value) ? 0 : value;
    value += delta;
    document.getElementById(field).value = value;
    mark_change();
}

function mark_change() {
    console.log('Marking the change');
    if (!has_changed) {
        $('input.change-submit').removeClass('btn-default').addClass('btn-success');
    }
    has_changed = true;
}

has_changed = false;

function confirm_before_link() {
    if (!has_changed) {
        return true;
    }

    return confirm('Wenn Sie weitergehen, werden Änderungen verloren gehen. Bitte übernehmen Sie vorher die Änderungen.');
}

$(function () {
    $('.input-amount').on('input propertychange paste', mark_change);
    $('a').filter(function (index) {return !$(this).attr('href').startsWith('#')}).on('click', confirm_before_link);
});
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 id="alle-produkte">Alle Produkte</h1>
    </div>
</div>

{% if shelves|length > 0 %}
<div class="row">
    <div class="col-md-10">
        <form action="{% url 'shoppinglist.views.update_numbers' %}" method="post" class="form-inline">
            {% csrf_token %}
            {% for shelf_name, shelf_id, products in shelves %}
            {% if forloop.counter0|divisibleby:"3" %}
            <div class="row">
                {% endif %}
                <div class="shelf col-md-4 col-sm-6" id="shelf-{{ shelf_id }}">
                    <h3>{{ shelf_name }}</h3>
                    {% if products|length == 0 %}
                    <p><em>(keine Produkte)</em></p>
                    {% else %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="name">Produkt</th>
                                <th class="amount">#</th>
                                <th class="change">Δ#</th>
                                <th class="plus for-touch">+ / −</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr id="product{{ product.id }}"
                            {% if product.desired_amount > 0 %}
                            class="info"
                            {% endif %}
                            >
                            <td class="name">{{ product.name }}</td>
                            <td class="amount">{{ product.desired_amount }}</td>
                            <td class="change">
                                <input type="number" min="-{{ product.desired_amount }}" value="0" name="id-{{ product.id }}" id="id-{{ product.id }}" class="amount input-amount" />
                            </td>
                            <td class="plus-minus for-touch">
                                <nobr>
                                    <button type="button" onclick="changeAmount('id-{{ product.id }}', 1)" class="btn btn-default">+</button>
                                    <button type="button" onclick="changeAmount('id-{{ product.id }}', -1)" class="btn btn-default">−</button>
                                </nobr>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    <span class="add-product">
                        <a href="{% url 'shoppinglist.views_product.add' shelf_id %}" role="button" class="btn btn-default btn-sm">Produkt zu <em>{{ shelf_name }}</em> hinzufügen</a>
                        <a href="#alle-produkte" role="button" class="btn btn-default btn-sm">nach oben</a>
                    </span>

                    <div class="pull-right">
                        <input type="submit" class="change-submit btn btn-default btn-sm" value="Übernehmen" />
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"3" or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}

            <div class="row" id="submit-row">
                <div class="col-md-12">
                    <input type="submit" class="change-submit btn btn-default" value="Übernehmen" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 hidden-print hidden-xs hidden-sm">
        <div id="myAffix">
            <h2>Schnellzugriff</h2>
            <ul class="nav bs-docs-sidenav">

                <li>
                {% for shelf_name, shelf_id, products in shelves %}
                <a href="#shelf-{{ shelf_id }}">{{ shelf_name }}</a>
                {% endfor %}
                </li>
            </div>
        </div>
</div>

<div id="bottom"></div>
{% else %}
<div class="alert alert-warning">
    Es sind keine Regale vorhanden. Zuerst muss ein Regal angelegt werden.
</div>
{% endif %}

{% endblock %}
