{% extends "shoppinglist/templates/base.html" %}
{% load url from future %}

{% block content %}
<h1>Einkaufszettel</h1>
{% if shelves_needed|length > 0 %}
<dl>
{% for shelf_name, products in shelves_needed %}
<dt>{{ shelf_name }}</dt>
<dd>
<ul>
    {% for product in products %}
    <li>
    {{ product.name }}
    {% if product.desired_amount > 1 %}
    <b>× {{ product.desired_amount }}</b>
    {% endif %}
    </li>
    {% endfor %}
</ul>
<dd>
{% endfor %}
</dl>
{% else %}
<div class="alert alert-warning">
    <p>
    Der Einkaufszettel ist leer.
    </p>
</div>
{% endif %}

{% endblock %}
