<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Einkaufsliste{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>

    <div id="navigation">
        <ul>
            <li><a href="{% url 'shoppinglist.views.index' %}">Alle</a></li>
            <li><a href="{% url 'shoppinglist.views.view' %}">Einkaufszettel</a></li>
            <li><a href="{% url 'shoppinglist.views.aftermath' %}">abhaken</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    </body>
</html>
