{% extends "shoppinglist/base.html" %}

{% block content %}

<script type="text/javascript">
// https://stackoverflow.com/a/9186427

function changeAmount(field, delta) {
    var value = parseInt(document.getElementById(field).value, 10);
    value = isNaN(value) ? 0 : value;
    value += delta;
    document.getElementById(field).value = value;
}
</script>

<h1>Alle Produkte</h1>
<form action="{% url shoppinglist.views.update_numbers %}" method="post">
    {% csrf_token %}
    {% for shelf_name, shelf_id, products in shelves %}
    <div class="shelf">
        <div class="shelf-title">
            <span class="shelf-title">{{ shelf_name }}</span>
            <span class="add-product">
                <a href="{% url shoppinglist.views.add_product shelf_id %}">+</a>
            </span>
        </div>
        {% if products|length == 0 %}
        <p><em>(keine Produkte)</em></p>
        {% else %}
        <table>
            <tr>
                <th>Produkt</th>
                <th>#</th>
                <th>Änderung</th>
            </tr>
            {% for product in products %}
            <tr id="product{{ product.id }}"
                {% if product.desired_amount > 0 %}
                class="desired"
                {% endif %}
                >
                <td class="name">{{ product.name }}</td>
                <td class="amount">{{ product.desired_amount }}</td>
                <td>
                    <nobr>
                    <input class="small" type="number" min="-{{ product.desired_amount }}" value="0" name="id-{{ product.id }}" id="id-{{ product.id }}"/>

                    <input type="button" onclick="changeAmount('id-{{ product.id }}', 1)" value="+" />
                    <input type="button" onclick="changeAmount('id-{{ product.id }}', -1)" value="-" />
                    </nobr>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="Übernehmen" />
</form>

<hr />

<div class="form">
    <form action="{% url shoppinglist.views.add_shelf %}" method="post">
        {% csrf_token %}
        Neues Regal: <input type="text" name="name" /> <input type="submit" value="erstellen" />
    </form>
</div>
{% endblock %}
