<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
    {% for shelf_name, products in shelves %}
    <h2>{{ shelf_name }}</h2>
    <table>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.desired_amount }}</td>
        <td><a href="change/{{ product.id }}/1">+</a></td>
        <td>
            {% if product.desired_amount > 0 %}
            <a href="change/{{ product.id }}/-1">−</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endfor %}
    </body>
</html>
