body {
    font-family: sans;
}

body.small {
    font-size: 10pt;
}

body.small td {
    border-bottom: 1px solid gray;
}

td, th {
    padding: 2px 2px;
}

tr:nth-child(odd) {
    background-color: hsl(0, 0%, 80%);
}

tr:nth-child(even) {
    background-color: hsl(0, 0%, 90%);
}

th {
    background-color: hsl(0, 0%, 60%);
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

div.form {
    margin: 10px 0;
}

div.shelf {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 0px;
}

div.shelf table {
    width: 100%;
    border-collapse: collapse;
}

div.shelf-title {
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
    display: block;
    overflow: hidden;
}

div.shelf-title span.shelf-title {
    padding: 2px 5px;
    font-weight: bold;
    display: block;
    float: left;
}

div.shelf-title span.add-product {
    display: block;
    float: right;
}

div.shelf-title span.add-product a {
    padding: 4px 10px;
    text-decoration: none;
    background-color: hsl(100, 50%, 50%);
    color: hsl(100, 50%, 80%);
}

.desired {
    font-weight: bold;
}

#navigation {
    overflow: hidden;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    float: left;
}

#navigation a {
    display: block;
    background-color: hsl(0, 0%, 90%);
    padding: 5px;
    margin: 0px 1px;
    text-decoration: none;
}

input[type=button], input[type=submit] {
    min-width: 10mm;
    min-height: 10mm;
    font-size: 7mm;
}

input.small {
    width: 30px;
}

.name {
    text-align: left;
}

.amount, .change, .plus, .minus {
    text-align: center;
    width: 12mm;
}
