/* Copyright © 2015 Martin Ueding <dev@martin-ueding.de> */

@media (-moz-touch-enabled: 0) {
    .for-touch {
        display: none;
    }
}

input.amount {
    width: 60px;
}

body {
    font-family: Ubuntu, sans;
}

#submit-row {
    margin-top: 30px;
}

div.shelf {
    padding-bottom: 15px;
}

#outer-container {
    border-left-color: orange;
    border-left-style: solid;
    border-left-width: 0px;

    border-right-color: orange;
    border-right-style: solid;
    border-right-width: 0px;
}

#unchanged-warning {
    display: none;
}

#plus-minus {
    width: 67px;
}
